content/themes/otraining/node_modules
/vendor
/wp
wp-config.php
/content/languages
/content/upgrade
/content/uploads

/content/plugins/*
!/content/plugins/formation-otraining/
!/content/plugins/o-roles


!/content/themes/
/content/themes/*
!/content/themes/otraining